[submodule "cowsay"]
	path = cowsay
	url = https://github.com/cowsay-org/cowsay.git
[submodule "lolcat"]
	path = lolcat
	url = https://github.com/jaseg/lolcat.git
[submodule "figlet"]
	path = figlet
	url = https://github.com/cmatsuoka/figlet.git
